<h2>Posts</h2>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, post %></a></h3>

  <div><%= post.body %></div>
    
  <% if post.admin_user.present? %>
    <small>by <%= post.admin_user.name %></small>
  <% end %>
  <hr>

<% end %>

