/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 50px 0;
}

.container {
  padding: 40px;
  margin: 20px;
}

.flash-item {
  padding: 10px;
  font-style: italic;
}

nav {
  padding: 20px 0;
}

nav > a {
  margin-right: 4px;
}